

       <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Timeline
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="thisWeek()">This Week</a>
              <a class="dropdown-item" (click)="lastWeek()">last Week</a>
              <a class="dropdown-item" (click)="thisMonth()">This Month</a>
              <a class="dropdown-item" (click)="threeMonths()">Three Months</a>
              <a class="dropdown-item" (click)="sizeMonths()">Six Months</a>
              <a class="dropdown-item" (click)="oneYear()">One Year</a>
            </div>
          </div> -->
  <div class="container">
      <canvas id="canvas"></canvas>
  </div>

  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <i class="fas fa-vials"></i>
          <h1 class="display-4"> </h1>
          <p class="lead">
            Goal Summary:

            Sleep:
            Routine:
            Diet:
          </p>
        </div>
      </div>