<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"> FUERZA </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="register()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="members()">Log In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)="learnMore()">About</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>