<app-navigation-bar>  </app-navigation-bar>
<div class="header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"> Excercise Tracking </h1>
        <p class="lead"></p>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Timeline
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="thisWeek()">This Week</a>
          <a class="dropdown-item" (click)="lastWeek()">last Week</a>
          <a class="dropdown-item" (click)="thisMonth()">This Month</a>
          <a class="dropdown-item" (click)="threeMonths()">Three Months</a>
          <a class="dropdown-item" (click)="sizeMonths()">Six Months</a>
          <a class="dropdown-item" (click)="oneYear()">One Year</a>
        </div>
      </div>
  
    </div>
  </div>