p {
    font-family: Lato;
  }

  .header-space{
margin-top: 80px;

  }


  .panel-title{
align-content: center
  }


body { padding-top:30px; }
.form-control { margin-bottom: 10px; }

textarea {
   resize: none;
}

.dialog-box{
width: 80%


}

.row{
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.nsm-dialog-animation-fade{

  
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}




.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.ngx-datepicker-container { z-index: inherit !important; }
.ngx-datepicker-calendar-container { z-index: 1; }

.space{
  margin-right: 9px;
}