<!-- https://www.npmjs.com/package/ngx-smart-modal -->
<app-navigation-bar></app-navigation-bar>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<div class="header-space"></div>

<!-- <button onclick="openModal()"></button> -->
<!-- <p>Display event : {{displayEvent | json}}</p> -->

<button mat-flat-button color="primary" (click)="ngxSmartModalService.getModal('myModal').open()">Add Training Diary</button>
<hr>
<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
    (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>

<div class="dialog-box">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <ngx-smart-modal #myModal identifier="myModal">
    <!-- Page content -->
    <div class="basic-container">
      <mat-card>
        <mat-card-title>Enter Training Info</mat-card-title>
        <mat-card-content>
          <!-- Page form start -->
          <form [formGroup]="eventForm">
            <!-- Start form units array with first row must and dynamically add more -->
            <mat-card formArrayName="repsArray">
              <mat-card-title>Exercise And Reps</mat-card-title>
              <mat-divider></mat-divider>

              <!-- loop throught units -->
              <div *ngFor="let reps of eventForm.controls.repsArray.controls; let i=index">

                <!-- row divider show for every nex row exclude if first row -->
                <mat-divider *ngIf="eventForm.controls.repsArray.controls.length > 1 && i > 0"></mat-divider>
                <br>

                <!-- group name in this case row index -->
                <div [formGroupName]="i">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center">
                    <!-- unit name input field -->
                    <mat-form-field>
                      <input matInput placeholder="Exercise" formControlName="title" required>
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex="30%">
                      <input matInput placeholder="Exercise" formControlName="bodypart" required>
                    </mat-form-field> -->

                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set One Reps:" type="number" formControlName="setOne" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set One Weight:" type="number" formControlName="setOneWeight" required>
                    </mat-form-field>

                    <!-- unit price input field -->
                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set two Reps:" type="number" formControlName="setTwo" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set Two Weight:" type="number" formControlName="setTwoWeight" required>
                    </mat-form-field>


                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set Three Reps:" type="number" formControlName="setThree" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set Three Weight:" type="number" formControlName="setThreeWeight" required>
                    </mat-form-field>


                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set Four Reps:" type="number" formControlName="setFour">
                    </mat-form-field>
                    <mat-form-field fxFlex="10%">
                      <input matInput placeholder="Set Four Weight:" type="number" formControlName="setFourWeight" required>
                    </mat-form-field>


                    <!-- row delete button, hidden if there is just one row -->
                    <button mat-mini-fab color="warn" *ngIf="eventForm.controls.repsArray.controls.length > 1" (click)="removeUnit(i)">
                      <mat-icon>delete forever</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

              <!-- New unit button -->
              <mat-divider></mat-divider>
              <mat-card-actions>
                <button mat-raised-button (click)="addUnit()">
                  <mat-icon>add box</mat-icon>
                  Add Exercise and reps
                </button>
              </mat-card-actions>
            </mat-card>
            <!-- End form units array -->
          </form>
          <!-- Page form end -->
          <br>
        </mat-card-content>
        <!-- Form submit button enabled on if form is valid -->

        <mat-list-item>
            <form [formGroup]="trainingDate">
            <div class="col-sm-12 col-md-12">
              <label for="date"> <i class="material-icons">
                  calendar_view_day
                  </i> </label>
              <input type="date" formControlName="datePicked" id="date" name="date" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
              <span class="validity"></span>
            </div>
          </form>
        </mat-list-item>

        <mat-card-actions>
          <button class="btn btn-lg btn-primary btn-block" (click)="addEvent()">
            Submit</button>
        </mat-card-actions>

      </mat-card>

    </div>

  </ngx-smart-modal>
</div>

<div class="dialog-box">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <ngx-smart-modal #myModal identifier="trainingEvent">
    <div class="panel-title">
    <h1 class="mat-display-1">View Session</h1>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">


          <!-- {"title":"leg press","setOne":8878787,"setOneWeight":87,"setTwo":8708,
          "setTwoWeight":87,"setThree":8787,"setThreeWeight":8787,"setFour":87807,"setFourWeight":""} -->
        <mat-accordion>
          <mat-expansion-panel *ngFor="let panel of Journal">
            <mat-expansion-panel-header>
             <h1> {{panel.title}} </h1> 
            </mat-expansion-panel-header> 

            <mat-list>
              <mat-list-item  > <i class="material-icons">
                power_input
                </i> <div class="space">
                  
                </div>Reps: {{panel.repOne}}
                <div class="space"></div>Reps: {{panel.repTwo}}
                <div class="space"></div>Reps: {{panel.repThree}}
                <div class="space"></div>Reps: {{panel.repFour}}
              </mat-list-item>

              <mat-divider></mat-divider>
              <mat-list-item> <i class="material-icons">
                fitness_center
                </i> <div class="space"></div> Weight: {{panel.weightOne}}
                <div class="space"></div> Weight: {{panel.weightTwo}}
                <div class="space"></div> Weight: {{panel.weightThree}}
                <div class="space"></div> Weight: {{panel.weightFour}}
              </mat-list-item>

            </mat-list> 
           </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </ngx-smart-modal>
</div>