<app-home-navigation>
</app-home-navigation>
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"></div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px">

        </div>
      </div>

      <div style="padding-top:30px" class="panel-body">

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form class="login-form"[formGroup]="signInForm" (ngSubmit)=" formSubmit()">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
  
           
              <mat-form-field class="form-width">
                  <input matInput type="text" formControlName="email" class="form-control" placeholder="Email" required autofocus>
                </mat-form-field>
  
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <mat-form-field class="form-width">
              <input matInput type="password" formControlName="password" class="form-control" placeholder="Password" required>
            </mat-form-field>
            </div>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                Login</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>