<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-navigation-bar></app-navigation-bar>
<div id="spacer"></div>

<div class="container">
    <mat-divider></mat-divider>
    <mat-card *ngFor="let post of postObjects">
        <mat-card-header>
            <div id="userImage">
                <img mat-card-avatar src={{post.photo_link}}>
            </div>
    
            <mat-card-subtitle>
                <p>{{post.author_comment}}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{post.photo_link}}>
        <mat-card-content>
                <mat-toolbar color="primary">
                        <!-- This fills the remaining space of the current row -->
                        <span class="example-fill-remaining-space">
                   {{post.upload_date | date:"medium"}}</span>
                      </mat-toolbar>
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
</div>