<app-navigation-bar></app-navigation-bar>
 <div class="space"></div>
<div class="search-result-title">
  <div class="container">
    <div class="row nav-content-margin">
      <div class="col-md-12">
        <h3>Account Settings</h3>
        <hr>
      </div>
    </div>
  </div>
</div>


<div class="settings-container">
  <mat-card>
    <h5>Settings</h5>
    <mat-list role="list">

      <mat-list-item role="listitem">
        <mat-checkbox [(ngModel)]="userCheckBoxes[0]">
          Allow People To See When I'm Online
        </mat-checkbox>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-checkbox [(ngModel)]="userCheckBoxes[1]"> Allow People To See My Diet</mat-checkbox>
      </mat-list-item>


      <mat-list-item role="listitem">
        <mat-checkbox [(ngModel)]="userCheckBoxes[2]"> Allow People To See My Routine</mat-checkbox>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-checkbox [(ngModel)]="userCheckBoxes[3]"> Allow People To See My Supplement Stack</mat-checkbox>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-checkbox [(ngModel)]="userCheckBoxes[4]"> Allow People To See My Sleeping Data</mat-checkbox>
      </mat-list-item>
    </mat-list>


    <hr>
    <div class="row">
      <div class="col-md-3">
        <h5> Privacy </h5>
      </div>
      <div class="col-md-9">
        <div class="checkbox">
          <mat-list-item role="listitem">
            <mat-checkbox [(ngModel)]="userCheckBoxes[5]"> Allow Others To Find
              Me
            </mat-checkbox>
          </mat-list-item>

        </div>
        <div class="checkbox">

          <mat-list-item role="listitem">
            <mat-checkbox [(ngModel)]="userCheckBoxes[6]"> Send Email
              Notifications
            </mat-checkbox>
          </mat-list-item>
        </div>
      </div>
    </div>
    <mat-list-item role="listitem">
      <button mat-flat-button color="primary" (click)="updateSettings()"> Save Changes </button>
    </mat-list-item>

  </mat-card>
</div>

<hr>

<mat-card>
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <h1>
            <span class="label label-default">Reset Password</span>
          </h1>
        </div>

      </div>

      <div style="padding-top:0px" class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form [formGroup]="changePassword" (ngSubmit)="updatePassword()">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <div class="settings-container">
              <mat-form-field class="example-full-width">
                <textarea matInput type="password" placeholder="Old password" formControlName="currentpassword"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>

            <div class="settings-container">
              <mat-form-field class="example-full-width">
                <textarea matInput type="password" placeholder="New Password" formControlName="newpassword" required></textarea>
              </mat-form-field>
            </div>

          </div>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </span>
            <div class="settings-container">
              <mat-form-field class="example-full-width">
                <textarea matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword"
                  required></textarea>
              </mat-form-field>
            </div>
          </div>

          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="settings-container">
              <button mat-flat-button color="primary" (click)="updateSettings()"> Reset Password</button>
            </div>
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div>
</mat-card>