<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-navigation-bar></app-navigation-bar>

<div class="spacer"></div>
<div class="container">
  <mat-card *ngFor="let post of postObjects">
    <mat-card-header>
      <img mat-card-avatar src={{post.photo}}>
      <mat-card-title>{{post.email}}</mat-card-title>
      <mat-card-subtitle>{{post.author_comment}}</mat-card-subtitle>
    </mat-card-header>
    <video width=100%  height=100% controls>
        <source src={{post.video_link}} type="video/mp4" media="all and (max-width: 480px)">
        Your browser does not support HTML5 video.
      </video>
    <mat-card-content>
      <p> </p>
    </mat-card-content>
    <mat-toolbar color="primary">
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space">
   {{post.upload_date | date:"medium"}}</span>
      </mat-toolbar>

    <!-- <mat-accordion displayMode="flat" multi class="mat-table"> -->
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="vesselName"></span>
      <div class="card-body py-2 small">
        <a class="mr-3 d-inline-block" href="#">
          <i class="fa fa-fw fa-thumbs-up"></i>{{post.post_likes}}</a>
        <a class="mr-3 d-inline-block" href="#">
          <i class="fa fa-fw fa-comment"></i>Comment</a>
        <a class="d-inline-block" href="#">
          <i class="fa fa-fw fa-share"></i>Share</a>
      </div>
    </section>



    <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100, 500, 1000]"></mat-paginator>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="comment-header">
            <p> Comments</p>
          </div>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell">
                <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
              </span>
              <span class="mat-cell">Lucas Victis </span>
              <span class="mat-cell">Date</span>
            </mat-expansion-panel-header>
            <div>
              <pre> Hello this is some text</pre>
            </div>
            <button mat-mini-fab color="primary">Reply</button>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
          </mat-expansion-panel>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>