<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/socialFeed"> Community Feed </button>
    <button mat-button routerLink="/profile"> Profile </button>
    <button mat-button routerLink="/socialFeed"> Social </button>
    <button mat-button routerLink="/dashboard"> Messages </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <form [formGroup]="userSearchForm" (ngSubmit)="search_user()">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search Users" aria-label="Number" matInput formControlName="userSearch" [matAutocomplete]="auto"
        class="form-control">
        <mat-autocomplete #auto="matAutocomplete">

          <mat-option *ngFor="let options of usersResults" [value]="options.value">

            <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
            <span>
              <ul>
                <li (click)="focusedUser($event.target.textContent)">   
                  {{options}}
                </li>
              </ul>
                 
            </span>
            <!-- <small>Population: {{state.population}}</small> -->
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/settings"> Account Settings </button>
  <button  mat-menu-item (click)="logout()"> Logout</button>
</mat-menu>