body{
    margin: 0;
    padding: 0;
}

.rating {
 /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    direction: rtl;
    display: flex;
    background: #fff;
    line-height: 0px;
    border-radius: 10px;
}

.rating input{
}

.rating label{
display: block;
cursor: pointer;
width: 50%;
background: #ccc
}

.rating label:before{
    content: '\f005';
    font-family:fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
    color:#101010;
}

.rating label:after{
    content: '\f005';
    font-family:fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    color:#1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(4, 26, 99, 0.5);
}

.rating label:hover:after{
opacity: 1;
}

.rating label:hover:after,
.rating input:checked ~ label:after{
    opacity: 1;
}