
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<div class="rating">
  <input type="radio" name="star" id="star1" style="display:none;"> <label for="star1"></label>
  <input type="radio" name="star" id="star2" style="display:none;"> <label for="star2"></label>
  <input type="radio" name="star" id="star3" style="display:none;"> <label for="star3"></label>
  <input type="radio" name="star" id="star4" style="display:none;"> <label for="star4"></label>
  <input type="radio" name="star" id="star5" style="display:none;"> <label for="star5"></label>
</div>