.wrapper {
  display: flex;
  align-items: stretch;
  height: 100px;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
}

#online-container {}

#sidebar {
  width: 200px;
  min-height: 100vh;
  background: #2f3f4f;
  color: #fff;
  transition: all 0.3s;
}

#circle {
  width: 15px;
  height: 15px;
  background: limegreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

#message-count {}

#userName {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 22px;
  padding-bottom: 20px;
}

.active {}

#alert {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.sidebar-header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
