<div class="wrapper">
  <nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>Online Friends</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li class="active">
        <div id="online-container">
          <div class="profile-pic">
            <img src="https://thenypost.files.wordpress.com/2018/02/spacex_new_rocket_launch_1546527881.jpg?quality=90&strip=all&w=915"
              height="32" width="32" alt="">
            <div id="userName">
              {{userName}}
            </div>
            <div id="circle">
            </div>
          </div>

        </div>
      </li>

      <li class="active">
        <div id="online-container">
          <div class="profile-pic">
            <img src="https://thenypost.files.wordpress.com/2018/02/spacex_new_rocket_launch_1546527881.jpg?quality=90&strip=all&w=915"
              height="32" width="32" alt="">
            <div id="userName">
              {{userName}}
            </div>
            <div id="circle">
            </div>
          </div>

        </div>
      </li>
    </ul>
  </nav>

 
</div>
