<app-navigation-bar> </app-navigation-bar>

<div class="header">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Edit Supplement Stack</h1>
      <p class="lead"></p>
    </div>
  </div>
</div>



    <form [formGroup]="stackForm" (ngSubmit)="updateStack()">
      <mat-card>
          <mat-toolbar>Pre Workout</mat-toolbar>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="preworkout_name"  placeholder="Please Type Product Name Here" class="form-control">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput class="form-control"  formControlName="preworkout_review" placeholder="Please Type Product Review Here"></textarea>
          </mat-form-field>
         <span></span>
        </mat-card>

        <mat-card>
            <mat-toolbar>Intra Workout</mat-toolbar>
         <mat-form-field class="example-full-width">
            <input matInput formControlName="intraworkout_name" placeholder="Please Type Product Name Here" class="form-control">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput  formControlName="intraworkout_review" class="form-control" placeholder="Please Type Product Review Here"></textarea>
          </mat-form-field>
         <span></span>
        </mat-card>

        <mat-card>
            <mat-toolbar>Post Workout</mat-toolbar>
         <mat-form-field class="example-full-width">
            <input matInput formControlName="postworkout_name" type="text" placeholder="Please Type Product Name Here" class="form-control">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="postworkout_review"  class="form-control" placeholder="Please Type Product Review Here"></textarea>
          </mat-form-field>
         <span></span>
        </mat-card>

        <mat-card>
            <mat-toolbar>Extras</mat-toolbar>
         <mat-form-field class="example-full-width">
            <input matInput  formControlName="misc_name"  type="text" placeholder="Please Type Product Name Here" class="form-control">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="misc_review" class="form-control" placeholder="Please Type Product Review Here"></textarea>
          </mat-form-field>
       <span></span>
        </mat-card>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
          Update Stack</button>
  
</form>
