<mat-card>
    <div class="container">
        <form [formGroup]="FileInformation">
            <div class="input-group">
                    <div class="actions">
                            <div class="avatar">
                                <img class="d-flex mr-3 rounded-circle" src="https://pbs.twimg.com/profile_images/972170159614906369/0o9cdCOp_400x400.jpg"
                                    alt="Cannot Load Photo" width="30" height="30">
                            </div>
                        
                        </div>

                <mat-form-field class="post-input">
                    <input matInput formControlName="post_text" placeholder="Post Your Thoughts">
                </mat-form-field>

                <input type='file'id="fileUpload" name="fileUpload"  accept='image/*' (click)="onClick()"><br>
                <button mat-fab color="primary" (click)="uploadFiles()">Post</button>
                <button mat-button>
                    <i class="material-icons">
                        cast_connected
                    </i> </button>
            </div>
        </form>
    </div>
</mat-card>