.container{
    width: 40%;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 75px;
}

.actions{
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;

}

.events{
    display: inline-block;
    vertical-align: top;

}

.post{
    display: inline-block;
    vertical-align: top;

}

.broadcast{
    display: inline-block;
    vertical-align: top;

}

.video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
  }
  
  .row {
    margin-bottom: 20px;
  }

  .inputfile + label {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    cursor: pointer;
}

.post-input{
    width:100%
}