body{padding-top:20px;}
.container{
margin-top:4%;
text-align: center;
}


@media only screen and (min-width: 768px) {
  .form-inline {
    padding-right: 0;
   }
  
  .form-inline .btn-primary {
    margin-top: 0;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .list-group-item .row > div.col-sm-5 {
    margin-left: 0px;
    padding-left: 5px;
  }
  .list-group-item-heading {
    margin-top: 3px;
  }
}

@media (max-width: 250px) {
  #search {
    padding-left: 10px;
  }
}


#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search-bar {
    width: 20%;
    height: 20%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
   float: right;
    right: 0;
    top: 5px;
    border-radius:1px;
}


#ul_top_hypers li {
    display: inline;
}

#ul_top_hypers li {
    display: inline;
}







#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

#div_top_hypers{
margin-right: 5px;
}
