<app-navigation-bar> </app-navigation-bar>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Following</h1>
    <p class="lead">Templates You're Following Below</p>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Filter
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="getFollowers()">My Followers </a>
        </div>
      </li>
    </ul>
  </nav>
</div>



<mat-card>
    <mat-icon>translate</mat-icon>
    <mat-icon>hearing</mat-icon>
    <mat-icon>audiotrack</mat-icon>
    <mat-icon>mail</mat-icon>
    <mat-icon>adjust</mat-icon>
    <mat-icon>dock</mat-icon>
    <mat-icon>camera</mat-icon>
  </mat-card>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Liam Haycock</mat-card-title>
    <mat-card-subtitle>You're Following:</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="""> -->
  <mat-card-content>

    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <mat-checkbox>
          <li>
            <a href="" class="a_top_hypers">
              <i class="fa fa-cutlery"></i> Diet</a>
          </li>
        </mat-checkbox>

        <mat-checkbox>
          <li>
            <a href="" class="a_top_hypers">
              <i class="fa fa-connectdevelop"></i> Routine</a>
          </li>
        </mat-checkbox>


        <mat-checkbox>
          <li>
            <a href="" class="a_top_hypers">
              <i class="fa fa-power-off"></i> Playlist</a>
          </li>
        </mat-checkbox>


      </ul>
    </div>


  </mat-card-content>
</mat-card>