<app-navigation-bar> </app-navigation-bar>
<!-- <img src="cinqueterre.jpg" class="img-circle" alt="Cinque Terre"> -->

<div class="header">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Supplement Stack</h1>
      <p class="lead"></p>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="updateStack()"> Update Stack </button>
</div>


<mat-card>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">My Pre Workout </h6>
    <div class="media text-muted pt-3">
      <img src="https://cdn.shopify.com/s/files/1/2538/1082/products/1000X1000_JACK3D_PINEAPPLE_1200x.jpg?v=1517252553"
        height="50px;" width="50px;" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          {{preworkoutName}}
        </strong>

        <label> Description About Supplement </label>

        <body id="description">

        </body>
      </p>
      <div class="ratings">
        <div class="col-lg-8 col-xs-12 col-centered">
          <app-stars></app-stars>
        </div>
      </div>

    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          Review
        </strong>

        <body id="description">
          {{preWorkoutReview}}
        </body>
      </p>
    </div>
    <small class="d-block text-right mt-3">
    </small>
  </div>
</mat-card>


<mat-card>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">My Intra Workout</h6>
    <div class="media text-muted pt-3">
      <img src="https://cdn.shopify.com/s/files/1/2538/1082/products/1000X1000_JACK3D_PINEAPPLE_1200x.jpg?v=1517252553"
        height="50px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          {{intraworkoutName }}
        </strong>
        Description About Supplement

        <body id="description">
        </body>
      </p>
      <div class="ratings">
        <div class="col-lg-8 col-xs-12 col-centered">
          <app-stars></app-stars>
        </div>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Review</strong>

        <body id="description">
          {{intraworkoutReview}}
        </body>
      </p>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    </div>
    <small class="d-block text-right mt-3">
    </small>
  </div>
</mat-card>

<mat-card>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0"> My Post Workout</h6>
    <div class="media text-muted pt-3">
      <img src="https://cdn.shopify.com/s/files/1/2538/1082/products/1000X1000_JACK3D_PINEAPPLE_1200x.jpg?v=1517252553"
        height="50px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{usersStack.stack[2].postworkout}}</strong>
        Description About Supplement

        <body id="description">
          {{postworkoutName}}
        </body>
      </p>
      <div class="ratings">
        <div class="col-lg-8 col-xs-12 col-centered">
          <app-stars></app-stars>
        </div>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Review</strong>

        <body id="description">

        </body>
      </p>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Review</strong>
        {{postworkoutReview}}
      </p>
    </div>
    <small class="d-block text-right mt-3">
    </small>
  </div>
</mat-card>

<mat-card>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">My Vitamins & Misc.</h6>
    <div class="media text-muted pt-3">
      <img src="https://cdn.shopify.com/s/files/1/2538/1082/products/1000X1000_JACK3D_PINEAPPLE_1200x.jpg?v=1517252553"
        height="50px;">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">
          {{miscName}}
        </strong>
        Description About Supplement

        <body id="description">

        </body>
      </p>
      <div class="ratings">
        <div class="col-lg-8 col-xs-12 col-centered">
          <app-stars></app-stars>
        </div>
      </div>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Review</strong>

        <body id="description">
          {{miscReview}}
        </body>
      </p>
    </div>
    <div class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    </div>
    <small class="d-block text-right mt-3">
    </small>
  </div>
</mat-card>