<app-navigation-bar> </app-navigation-bar>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Following</h1>
    <p class="lead">Templates You're Following Below</p>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Filter
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="getFollowers()">My Followers </a>
            <a class="dropdown-item" (click)=" imFollowing()">Followers </a>
          </div>
        </li>
    </ul>
  </nav>
  <div class="container">
  </div>

  <div class="row">
    <div class="search-bar">
      <form class="form-inline my-2 my-lg-0 mr-lg-2">
        <div class="container">
          <div class="row">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="  search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="card text-white bg-dark mb-8" style="max-width: 100%;">
  <div class="card-header">
    <img class="d-flex mr-3 rounded-circle" src="https://pmcdeadline2.files.wordpress.com/2016/06/dwayne-johnson.jpg?w=892&h=598&crop=1"
      alt="" width="70" height="70"> Mr Nice
    <i class="fa fa-male"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Following</h5>
    <p class="card-text">
    </p>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-cutlery"></i> Diet</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-connectdevelop"></i> Routine</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-power-off"></i> Playlist</a>
          <i class="fa fa-check"></i>
        </li>

      </ul>
    </div>

  </div>
</div>


<div class="card text-white bg-dark mb-8" style="max-width: 100%;">
  <div class="card-header">
    <img class="d-flex mr-3 rounded-circle" src="https://pmcdeadline2.files.wordpress.com/2016/06/dwayne-johnson.jpg?w=892&h=598&crop=1"
      alt="" width="70" height="70"> Mr Nice
    <i class="fa fa-male"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Following</h5>
    <p class="card-text">
    </p>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-cutlery"></i> Diet</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-connectdevelop"></i> Routine</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-power-off"></i> Playlist</a>
          <i class="fa fa-check"></i>
        </li>

      </ul>
    </div>

  </div>
</div>


<div class="card text-white bg-dark mb-8" style="max-width: 100%;">
  <div class="card-header">
    <img class="d-flex mr-3 rounded-circle" src="https://pmcdeadline2.files.wordpress.com/2016/06/dwayne-johnson.jpg?w=892&h=598&crop=1"
      alt="" width="70" height="70"> Mr Nice
    <i class="fa fa-male"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Following</h5>
    <p class="card-text">
    </p>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-cutlery"></i> Diet</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-connectdevelop"></i> Routine</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-power-off"></i> Playlist</a>
          <i class="fa fa-check"></i>
        </li>

      </ul>
    </div>

  </div>
</div>


<div class="card text-white bg-dark mb-8" style="max-width: 100%;">
  <div class="card-header">
    <img class="d-flex mr-3 rounded-circle" src="https://pmcdeadline2.files.wordpress.com/2016/06/dwayne-johnson.jpg?w=892&h=598&crop=1"
      alt="" width="70" height="70"> Mr Nice
    <i class="fa fa-male"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Following</h5>
    <p class="card-text">
    </p>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-cutlery"></i> Diet</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-connectdevelop"></i> Routine</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-power-off"></i> Playlist</a>
          <i class="fa fa-check"></i>
        </li>

      </ul>
    </div>

  </div>
</div>


<div class="card text-white bg-dark mb-8" style="max-width: 100%;">
  <div class="card-header">
    <img class="d-flex mr-3 rounded-circle" src="https://pmcdeadline2.files.wordpress.com/2016/06/dwayne-johnson.jpg?w=892&h=598&crop=1"
      alt="" width="70" height="70"> Mr Nice
    <i class="fa fa-male"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Following</h5>
    <p class="card-text">
    </p>
    <div id="div_top_hypers">
      <ul id="ul_top_hypers">
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-cutlery"></i> Diet</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-connectdevelop"></i> Routine</a>
          <i class="fa fa-check"></i>
        </li>
        <li>
          <a href="" class="a_top_hypers">
            <i class="fa fa-power-off"></i> Playlist</a>
          <i class="fa fa-check"></i>
        </li>

      </ul>
    </div>

  </div>
</div>