@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: center;
}

.container{
width: 40%;
font-family:Arial, Helvetica, sans-serif;
padding-top: 20px;
}

#avatar{
    display: block;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 15px;
}

#member-name{
    padding-top: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: blue;
    text-align: justify;
}
.user-info{

}
.user-post{
    padding-left: 25px;
}

.spacer{
    margin-top: 50px;
}

.comment-header{
  text-align: center;
  vertical-align: middle;
}

.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }
  
  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }
  

  $mat-header-row-height: 56px;
  $mat-row-height: 48px;
  $mat-row-horizontal-padding: 24px;
  
  .mat-table {
    display: block;
  }
  
  .mat-header-row {
    min-height: $mat-header-row-height;
  }
  
  .mat-row {
    min-height: $mat-row-height;
  }
  
  .mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
  
    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }
  
  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  