.container {
    background: rgba(26, 32, 44, .9);
    height: 100px;
    width: 100%
  }
  .row{
    margin-top:4%;
  }
  .alerts {
    border: solid blue;
    width: 100%;
    height: 200px;
    background : rgb(7, 7, 88);
    margin-right: 150px;
  }
  
  .header-area {
    
  }
  
  .sec-1{
    display: inline-block;
    width: 200px;
    height: 100%;
    border : solid whitesmoke;
    margin-left: 30px;
    background-color: #2e353d;
  }

  .sec-2{
    display: inline-block;
    width: 200px;
    height: 100%;
    border : solid whitesmoke;
    margin-left: 30px;
    background-color: #2e353d;
}

.sec-3{
    display: inline-block;
    width: 200px;
    height: 100%;
    border : solid whitesmoke;
    margin-left: 30px;
    background-color: #2e353d;
}

.title {
padding-left: 10 px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.profile {
    border: solid blue;
    width: 100%;
    height: 100px;
    background : rgb(7, 7, 88);
    margin-right: 150px;

}



.panel {
    -webkit-animation: .5s ease;
   -moz-animation: .5s ease;
   -o-animation: .5s ease;
   margin-bottom:10px;
   
   }
   
   .panel:hover {
     -webkit-transform: scale(1.05);
     -moz-transform:scale(1.05);
     -ms-transform:scale(1.05);
     -o-transform:scale(1.05);
     transform:scale(1.05);
   }
   
   
   .desc{
     border: 0px;
     text-align: center;
     padding-top:10px;
     float: left;
   }
   
   .panel-updated {
     margin-left:-15px;
     margin-right:-15px;
     margin-bottom:-15px;
     height: 250px;
     padding-left:15px;
     padding-right:15px;
     padding-top:0px;
   }
   
   .panel-oracle {
     margin-left:-15px;
     margin-right:-15px;
     margin-bottom:-4px;
   }
   
   .panel-cust {
     border: 2px solid #a8a8a8;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
     width:95%;
   }
   
   .panel-commingsoon:hover    {
     background:rgba(0,0,0,.75);
                 }
   
   .panel-commingsoon{
     height:180px;
   }
   


   .dash-box {
    position: relative;
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 4px;
    text-align: center;
    margin: 60px 0 50px;
}
.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    padding: 50px 20px;
}
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
	font-size:22px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.81);
}

.dash-box.dash-box-color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box.dash-box-color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}