<app-navigation-bar></app-navigation-bar>
<div class="inbox-area">
	<div class="inbox-header">
			<h4 class="card-title">Inbox Messages </h4>
			<div id="circle"> 
			<div id="messages-number">
				{{numberOfMessages}}
			</div>
	</div>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
	  
	</div>
	<div class="users-messages">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img id="avatar" src={{profile_pic}} alt="avatar">
          <p> {{message}}</p>
		</li>
		<li class="list-group-item">
				<img id="avatar" src={{profile_pic}} alt="avatar">
				<p> {{message}}</p>
			  </li>
			  <li class="list-group-item">
					<img id="avatar" src={{profile_pic}} alt="avatar">
					<p> {{message}}</p>
				  </li>
				  <li class="list-group-item">
						<img id="avatar" src={{profile_pic}} alt="avatar">
						<p> {{message}}</p>
					  </li>
	  </ul>
	</div>
    </div>
  </div>
</div>
