.inbox-area {
  margin-top:100px;
  height: 50px;
  background-color: turquoise;
  
}
.users-messages{
  height: 150px;
  overflow-y: scroll;
}
#avatar {
  border-radius: 50%;
  max-width: 50px;
  max-width: 50px;
}

#circle {
  width: 30px;
  height: 30px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#messages-number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
}
