<app-navigation-bar> </app-navigation-bar>
<div class="header-space">
</div>

<head>
    ...
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div>
    <mat-toolbar color="primary">
        <span>

        </span>

        <span>  Upload File  <i class="material-icons">
                attach_file
                </i></span>

        <!-- <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button> -->
    </mat-toolbar>
    <!-- <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item click=""> Photo</button>
        <button mat-menu-item click=""> Video</button>
        <button mat-menu-item click="">Audio</button>
    </mat-menu> -->
    <mat-card>
        <button mat-button color="warn" (click)="onClick()">
            <mat-icon>file_upload</mat-icon>
            {{text}}
        </button>
        <br />
        <ul>
            <li *ngFor="let file of files" [@fadeInOut]="file.state">
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                <span id="file-label">
                    {{file.data.name}}
                    <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
                        <mat-icon>refresh</mat-icon>
                    </a>
                    <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
                        <mat-icon>cancel</mat-icon>
                    </a>
                </span>
            </li>
        </ul>
        <form [formGroup]="FileInformation">
        <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" style="display:none;" />
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment" id="comment"  formControlName="file_comment" [(ngModel)]="comment"></textarea>
        </mat-form-field>
        </form>
    </mat-card>

    <span class="done">
        <!-- <button mat-fab>
            <mat-icon>check circle</mat-icon>
        </button> -->
    </span>
</div>