<app-navigation-bar> </app-navigation-bar>
<div class="space"></div>

<mat-toolbar>
    <span> Username Playlist</span>
</mat-toolbar>
<mat-card>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</mat-card>

<mat-card>



</mat-card>

<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-icon>audiotrack</mat-icon>
        <mat-card-title>Liam Haycock</mat-card-title>
        <mat-card-subtitle>You're Following:</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="""> -->
    <mat-card-content>

    </mat-card-content>
</mat-card>




